* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

  background: white
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.products{
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  
}

.card{
  background: rgb(233, 231, 231);
  border-radius: 2px;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.products{
  padding: 20px;

}
.card h3 {
  font-size: 16px;
  margin: 10px 0;
  min-height: 48px;
}

.card p {
  font-weight: bold;
  color: green;
  min-height: 20px;
}

.products button{
background-color: white;
margin-top: auto;
border: 1px solid gray;
padding: 6px 12px;
border-radius: 4px;
cursor: pointer;
}
.products button:hover{
  background-color: #b3aeae;
}


@media (min-width: 600px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 900px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}


